* {
  margin: 0;
  padding: 0;
  font-family: "Anton", sans-serif;
}

/* Header 
---------------------------------------------- */
Header {
  background-color: #2a1b3d;
}

.appTitle {
  font-family: "Bebas Neue", cursive;
  color: #fff;
  font-size: 3.5rem;
}

/* Left column
---------------------------------------------- */
.noOfLinks {
  color: #2a1b3d;
}

/* Right column
---------------------------------------------- */
.searchTitle {
  color: #2a1b3d;
}

.searchBar {
  width: 30rem;
}

.linklist {
  font-size: 1.25rem;
}
